*{

box-sizing: border-box;
margin: 0;

}
body,html{
    height: 100%;
}
body{
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
button{
    width: 30px;
    height: 30px;
    background-image: url(menu.svg);
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 11
}
body.open button{
  background-image: url("close.svg")
}
body ul{
  position: absolute;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  list-style: none;
}
ul a{
  text-decoration: none;
  color: white;
}
body.open .menu ul {
  opacity: 1;
}

body.open .menu ul li {
  animation: full-width 0.4s both;
  margin-bottom :20px
}

.menu{
  width: 100%;
  height: 100%;
}
.menu > div{
  height: calc(100% / 5);
  width: 0%;
  background-color: black;
}
body.open .menu > div{
  animation: full-width 0.4s ease-in-out both;

}
@keyframes full-width {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}